[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Björn Pipiorke (pipiobjo)
[access "refs/for/refs/*"]
	read = group user/Björn Pipiorke (pipiobjo)
	push = group user/Björn Pipiorke (pipiobjo)
	label-Code-Review = -2..+2 group user/Björn Pipiorke (pipiobjo)
	label-Verified = -1..+1 group user/Björn Pipiorke (pipiobjo)
	rebase = group user/Björn Pipiorke (pipiobjo)
	removeReviewer = group user/Björn Pipiorke (pipiobjo)
	submit = group user/Björn Pipiorke (pipiobjo)
[access "refs/heads/*"]
	read = group user/Björn Pipiorke (pipiobjo)
	create = group user/Björn Pipiorke (pipiobjo)
	push = +force group user/Björn Pipiorke (pipiobjo)
	pushMerge = group user/Björn Pipiorke (pipiobjo)
[access "refs/tags/*"]
	push = group user/Björn Pipiorke (pipiobjo)
	push = +force group user/Björn Pipiorke (pipiobjo)
